﻿@{
    Layout = null;
}
@model CallCenter.Models.CallModel

@Html.HiddenFor(m => m.CallNumber, new { @id = "CallNumber" })
@Html.HiddenFor(m => m.MaxTimeResponse, new { @id = "MaxTimeResponse" })
@Html.HiddenFor(m => m.MinTimeResponse, new { @id = "MinTimeResponse" })
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h2>Command prompt</h2>

    <div class="main">

        <div id="chatBody">
            <div id="header"></div>
            
            <div id="chatroom"></div>

        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalR")
    <script src="~/signalr/hubs"></script>
</body>
</html>
