﻿@model IEnumerable<CallCenter.Models.EmployerShowModel>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdPossition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFree)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdPossition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFree)
        </td>

    </tr>
}

</table>
